<html xmlns:th="http://www.thymeleaf.org">
<head>
  <script src="https://cdn.tailwindcss.com"></script>
  <meta charset="UTF-8">
  <title th:text="#{msg.detalle_cliente}"></title>
  <link rel="stylesheet" href="/style.css"/>
</head>
<body>
<div class="container mx-auto px-4">
  <div class="flex flex-row py-4 items-center border-b-2 p-2">
    <div class="basis-1/2 text-4xl">
      <h1 th:text="#{msg.detalle_cliente}"></h1>
    </div>
    <div class="basis-1/2 flex justify-end">
      <a href="/clientes" class="btn btn-gray" th:text="#{msg.volver}"></a>
    </div>
  </div>
  <div class="flex flex-row my-2">
    <div class="basis-1/2" th:text="#{msg.codigo}"></div>
    <div class="basis-1/2">
      <input class="shadow appearance-none border rounded w-1/2 py-2 px-3 text-gray-700 leading-tight" th:value="${cliente.id}" readonly="readonly"/>
    </div>
  </div>
  <div class="flex flex-row my-2">
    <div class="basis-1/2" th:text="#{msg.nombre}"></div>
    <div class="basis-1/2">
      <input class="shadow appearance-none border rounded w-1/2 py-2 px-3 text-gray-700 leading-tight" th:value="${cliente.nombre}" readonly="readonly"/>
    </div>
  </div>
  <div class="flex flex-row my-2">
    <div class="basis-1/2" th:text="#{msg.primer_apellido}"></div>
    <div class="basis-1/2">
      <input class="shadow appearance-none border rounded w-1/2 py-2 px-3 text-gray-700 leading-tight" th:value="${cliente.apellido1}" readonly="readonly"/>
    </div>
  </div>
  <div class="flex flex-row my-2">
    <div class="basis-1/2" th:text="#{msg.segundo_apellido}"></div>
    <div class="basis-1/2">
      <input class="shadow appearance-none border rounded w-1/2 py-2 px-3 text-gray-700 leading-tight" th:value="${cliente.apellido2}" readonly="readonly"/>
    </div>
  </div>
  <div class="flex flex-row my-2">
    <div class="basis-1/2" th:text="#{msg.ciudad}"></div>
    <div class="basis-1/2">
      <input class="shadow appearance-none border rounded w-1/2 py-2 px-3 text-gray-700 leading-tight" th:value="${cliente.ciudad}" readonly="readonly"/>
    </div>
  </div>
  <div class="flex flex-row my-2">
    <div class="basis-1/2" th:text="#{msg.categoria}"></div>
    <div class="basis-1/2">
      <input type="number" class="shadow appearance-none border rounded w-1/2 py-2 px-3 text-gray-700 leading-tight" th:value="${cliente.categoria}" readonly="readonly"/>
    </div>
  </div>
</div>
</body>
</html>